composer.lock
/vendor/
.php_cs.cache
.php-cs-fixer.cache
phpstan.neon
.phpunit.result.cache
.phpunit.cache
coverage/
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
#/var/
/var/cache/
/var/log/
#/vendor/
###< symfony/framework-bundle ###
/var/bootstrap/
/var/storage/
