{# @webhooks/admin/main.html.twig #}

{% block main %}
    {{ include('@webhooks/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <div class="xar-mod-page-head">
            {% set label = 'Official Icon' %}
            <img src="{{ xar_imageurl('module-generic.png', 'base') }}" alt="{{ label }}" width="96" height="96" class="xar-module-icon" />
            <h2 class="xar-mod-pagetitle">Overview</h2>
        </div>
        <div class="xar-mod-page-body">
            <h3>What is it?</h3>
            <p>
                The Webhooks module is a Xaraya utility module.
                It allows you to configure webhooks to and from Xaraya.
            </p>
        </div>
    </div>
{% endblock %}