{# @webhooks/base.html.twig #}

{# This could be a template for the full page #}

{% block modulespace %}
    <div class="xar-mod-head">
        <span class="xar-mod-title">
            Webhooks Module
        </span>
    </div>
    {% block modulebody %}
        <div class="xar-mod-body">
            <div class="xar-mod-object-head">
                <h2>Base Webhooks</h2>
            </div>
            <div class="xar-mod-object-body">
                <h3>Base Description</h3>
            </div>
        </div>
    {% endblock %}
{% endblock %}