{# @skeleton/main.html.twig #}

{% extends '@skeleton/base.html.twig' %}

{% block modulebody %}
    <div class="xar-mod-body">
        <div class="xar-mod-object-head">
            <h2>Main Skeleton</h2>
        </div>
        <div class="xar-mod-object-body">
            <h3>{{ description }}</h3>
        </div>
    </div>
{% endblock %}
